.books-filter {
  width: 350px;
  margin-bottom: 1em;
}
.books-container {
  width: 350px;
  max-height: 300px;
  border: 1px solid black;
  overflow-y: scroll;
  padding: 0.1em;
}

.books-container .item {
  padding: 0.3em;
  white-space: nowrap;
}

.books-container .item:hover {
  background-color: #eee;
  cursor: pointer;
}
